{% load static %}
<!DOCTYPE html>
<html lang="pl">
<head>
  <title>Moja aplikacja</title>
  <style>
    body {
      width: max-content;
      margin: auto;
    }
    #glowna_zawartosc {

    }
    .formularz {
      padding: 10px;
    }
    .form_pole {
      display: grid;
      margin-bottom: 10px;
      width: max-content;
    }
    .form_bledy {
      font-color: red;
    }
    .form_label {
      font-weight: bold;
      margin-bottom: 5px;
    }
    .form_wartosc {

    }
  </style>
</head>
<body>
  <nav>
    <ul>
      <li><a href="{% url 'home' %}">Strona główna</a></li>
      {% if user.is_authenticated %}
        <li><a href="{% url 'logout' %}">Wyloguj</a></li>
      {% else %}
        <li><a href="{% url 'register' %}">Zarejestruj</a></li>
        <li><a href="{% url 'login' %}">Zaloguj</a></li>
      {% endif %}
    </ul>
  </nav>
  <div id="glowna_zawartosc">
    {% block content %}
    {% endblock %}
  </div>
</body>
</html>