<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edytuj przepis</title>
    <style>
        body {
            width: 50%;
            margin: auto;
        }
        .form {
            display: grid;
            border: solid 2px black;
            padding: 10px;
            background-color: lightblue;
        }
        label {
            margin-bottom: 2px;
            font-weight: bold;
        }
        .wiersz {
            margin-bottom: 10px;
            display: grid;
        }
    </style>
</head>
    <body>
        <h1>Edycja przepisu</h1>
        <form action="{% url 'zapisz_przepis' pk=przepis.pk%}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form">
                <div class="wiersz">
                      <label>Nazwa:</label>
                      <input type="text" name="nowa_nazwa" value="{{przepis.nazwa}}">
                </div>
                <div class="wiersz">
                      <label>Opis:</label>
                      <textarea rows="15" cols="50" name="nowy_opis">{{przepis.opis}}</textarea>
                </div>
                <div class="wiersz">
                    <label>Czas przygotowania: </label>
                    <input type="number" min="0" name="nowy_czas" value="{{przepis.czas_przygotowania_w_minutach}}">
                </div>
                <div class="wiersz">
                    <label>Kalorie na 100g: </label>
                    <input type="number" min="0" step="0.01" name="nowe_kalorie" value="{{przepis.kalorie_na_100g}}">
                </div>
                <div class="wiersz">
                    <label>Kategoria: </label>
                    <input list="kategorie" name="nowa_kategoria" value="{{przepis.kategoria}}">
                    <datalist id="kategorie">
                        {% for kategoria in kategorie %}
                            <option value="{{ kategoria }}">
                        {% endfor %}
                    </datalist>
                </div>
                <div class="wiersz">
                    <label>Zdjęcie: </label>
                    <input type="file" name="nowe_zdjecie" accept="image/png, image/jpeg, image/jpg">
                </div>
                  <input type="submit" value="Zapisz zmiany">
            </div>
        </form>
    </body>
</html>