{% extends 'base.html' %}

{% block content %}
<h2>{{tytul_formularza}}</h2>
<div class="formularz">
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {% for pole in form %}
        <div class="form_pole">
          <span class="form_bledy">{{ pole.errors }}</span>
          <span class="form_label">{{ pole.label_tag }}</span>
          <span class="form_wartosc">{{ pole }}</span>
        </div>
      {% endfor %}
      <button type="submit">{{tresc_przycisku}}</button>
    </form>
</div>
{% endblock %}